<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZZO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="css\styles.css">
</head>

<body>
    <section id="header">
        <h1>Quizzoo</h1>
    </section>


    <section id="quest-ans">
    
         <li>
            Read Carefully: Carefully read each question and all the provided options before selecting your answer.
            
         </li>
         <li>
            Single Answer: Choose the best/most appropriate answer from the given options. Select only one answer.
            
         </li>
         <li>
            No Guessing: Try to answer every question, but if you're unsure, make your best guess. There's no penalty for incorrect answers
            
         </li>
         <li>Do Not Refresh: Do not refresh the page during the quiz, as it may result in loss of progress.</li>
         <li>Closed Book: Complete the quiz without referring to any materials or sources.</li>
         <li>Respect Rules: Follow the guidelines and rules set for the quiz.</li>
        
        <form action="/home" method="get">
            <input type="checkbox" name="" id="read" required style="width: 20px;
            height: 20px;">
            <label for="read"> <h4 style="margin-top: 40px; margin-left: 20px;">  I am sure that I have read all instructions. </h4></label> <br>
            <button type="submit" class="btn btn-danger btn-lg"  >Start Test</button>

        </form>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
